@import '@/style.scss';

.not_found_product {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: calc(100vh - 100px);
  width: 100%;
  background-image: url('/img/product-not-found.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-attachment: fixed;
  @media (max-width: 640px) {
    height: calc(100vh - 250px);
    align-items: center;
    background-image: none;
  }

  &__button_container {
    cursor: default;
    height: max-content;
    text-align: center;
    background-color: $original_hover_and_bg_transperency;
    padding: toRem(20);
    border-radius: toRem(20);
    font-size: toRem(22);
    font-weight: $semiBold;
  }

  &__button {
    margin-top: toRem(20);
    padding: toRem(15) toRem(30);
    background-color: $original_icons;
    color: $original_primary;
    border: none;
    border-radius: toRem(5);
    cursor: pointer;
    font-size: toRem(16);
    transition: background-color $transitionDuration ease;

    &:hover {
      background-color: $original_secondary;
    }
  }
  
}
